<a href="https://colab.research.google.com/github/chihchao/pythonAssignment/blob/master/stock_day_all.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[盤後資訊 > 個股日成交資訊](https://data.gov.tw/dataset/11549)

In [1]:
import pandas as pd
df = pd.read_csv('https://www.twse.com.tw/exchangeReport/STOCK_DAY_ALL?response=open_data')

In [2]:
df.head()

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
0,0050,元大台灣50,6394176.0,733944261.0,114.00,115.25,113.95,115.00,1.75,6619.0
1,0051,元大中型100,12886.0,678791.0,52.55,52.85,52.55,52.55,0.05,154.0
2,0052,富邦科技,179268.0,17584067.0,97.75,98.55,97.30,98.30,1.60,282.0
3,0053,元大電子,5249.0,288119.0,55.25,55.25,55.05,55.05,0.75,1019.0
4,0055,元大MSCI金融,85555.0,1871985.0,21.85,21.92,21.82,21.88,0.12,187.0

In [3]:
df.sort_values(['收盤價','漲跌價差'], ascending=[False,True])

,證券代號,證券名稱,成交股數,成交金額,開盤價,最高價,最低價,收盤價,漲跌價差,成交筆數
704,3008,大立光,845906.0,1.865620e+09,2270.0,2275.0,2175.0,2190.0,-55.0,4758.0
1002,6409,旭隼,72759.0,1.250205e+08,1710.0,1745.0,1695.0,1715.0,40.0,126.0
314,1590,亞德客-KY,515097.0,4.901578e+08,940.0,961.0,940.0,947.0,16.0,530.0
817,3661,世芯-KY,6807552.0,6.212330e+09,925.0,926.0,898.0,915.0,37.0,6300.0
1043,6669,緯穎,1358625.0,1.246174e+09,926.0,947.0,897.0,906.0,4.0,3343.0
...,...,...,...,...,...,...,...,...,...,...
161,020015,統一MSCI美低波N,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
163,020018,統一價值成長30N,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
164,020019,統一特選台灣5GN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
311,1583,程泰,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
976,6201,亞弘電,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN